<tr>
  <td><%=contract.player.last_name%></td>
  <td><%=contract.player.first_name%></td>
  <td><%=contract.player.position%></td>
  <td><%=contract.player.nfl_team_name%></td>
  <td><%=contract.length%></td>
  <td><%=contract.base_salary%></td>
  <td><%=contract.start_year%></td>
  <td><%=contract.fa_status%></td>
  <td><%=contract.contract_status%></td>
</tr>
