<div class="page-header">
  <h1><%= "#{@fantasy_team.team_name} (#{@fantasy_team.abbreviation})"%></br><small><%= @fantasy_team.owner_name%></small></h1>
  <h4><a href='<%=@fantasy_team.espn_link%>' target='_blank'>ESPN Team Page</a></h4>
  <h4>Total Active Salary Used: <b><%=@fantasy_team.active_total_salary%></b></h4>
  <h4>Total Active Contract Length: <b><%=@fantasy_team.active_total_contract_length%></b></h4>
  <h4>Total Number of Active Players: <b><%=@fantasy_team.number_of_active_players%></b></h4>
</div>

<div ng-view>

<script type="text/ng-template" id="fantasyTeamShow.html">
  <%= render partial: "show" %>
</script>

</div ng-view>

